<!DOCTYPE html>
<html>

<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>

  <script src="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/5.23.0/adyen.js"
      integrity="sha384-8mwva0PVlFlbNW204liDWLdWflXZVxk84ytAly86gczDok13tfs5q58WGQ7ROWZw"
      crossorigin="anonymous"></script>

  <link rel="stylesheet"
      href="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/5.23.0/adyen.css"
      integrity="sha384-y6jvSkH/EJ+EmVfUABibJST5Df3+PXlPuQveX3NigzwJmiNofEBsUXxbxoaEllaI"
      crossorigin="anonymous">
    
  <title>Checkout Demo</title>
</head>

<body>
  <header id="header">
    <a href="/">
      <%= image_tag ("mystore-logo.svg") %>
    </a>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>

</html>