<!DOCTYPE html>
<html>

<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
  <script src="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/5.3.0/adyen.js"
    integrity="sha384-JvmVzbCK60Gcpx1h3mM13vJQGFfEOD6ZhuXN76Q/Wcz9KPVadwxK10zGHd1SMWn9"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/5.3.0/adyen.css"
    integrity="sha384-47lm6XSs4AdvQN9BdRTZykpp82IALHlxMtM5p378Nsg3O3nGoBB86N0d7GXgjrA3" crossorigin="anonymous" />

</head>

<body>
  <header id="header">
    <a href="/">
      <%= image_tag ("mystore-logo.svg") %>
    </a>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>

</html>