<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/3.9.0/adyen.css"
    integrity="sha384-ECaUNUNaCM7I7c5adYdR56IIBUZtY3ax03DAYSyGIFls9wP7+6ZyHxlBNzAG5qT7"
    crossorigin="anonymous">
    <script src="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/3.9.0/adyen.js"
    integrity="sha384-TRFUroHk1lmxQ1k0PvPfMTdcXh7g227bqFpm4EcxWLOQvC7p/CRzwWUh6rVhR0H3"
    crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header">
        <a href="/">
        <%= image_tag ("mystore-logo.svg") %>
        </a>
    </header>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
